html {
  background-color: black;
}

body {
  padding: 5px;
  margin: 0px;
  border: 0px;
  background-color: black;
  color: white;
  height: 100%;
  overflow:auto;
  margin-bottom: 3em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main a:link {
  color: #f99;
  text-decoration: none;
}

header {
  margin: 5px;
  padding: 5px;
  border-color: #666;
  border: 3px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  width: calc(100% - 20px);
}

main {
  margin: 5px;
  padding: 5px;
  border-color: #666;
  border: 3px;
  border-radius: 5px;
  background-color: #111;
  color: white;
  width: calc(100% - 20px);
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 5px;
  padding: 5px;
  border-color: #666;
  border: 3px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  width: calc(100% - 30px);
}

footer table {
  width: 100%;
}

footer tr {
  width: 100%;
}

footer p {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.horizbox {
  border:0px solid black;
  text-align: right;
  width: 50%;
  overflow-x:scroll;
}
